/* h1 {
     background-color: rgb(18, 3, 59);
     color: rgb(243, 158, 215);
     text-align: center;
 }

 p{
    background-color: brown;

 }

 body{
    background-color: aquamarine;
 }*/

 .bg-red{
    background-color: rgb(65, 113, 94);
    color: brown;

 }

 .bg-green{
    background-color: rgb(35, 63, 42);
    color: cadetblue;
 }

 #pg-background{
    background-color: brown;

 }

*{
    background-color: rgb(187, 124, 30);
    margin: 0;
    padding: 0;
    font-style: oblique;
    font-size: larger;
}

